html {
  overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
  padding: 0;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.garcando {
  -webkit-animation-name: garcando;
  -moz-animation-name: garcando;
  -o-animation-name: garcando;
  -ms-animation-name: garcando;
  animation-name: garcando;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  background-color: #2980b9;
  height: 10px;
  width: 100%;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  -moz-animation-name: zoomOut;
  -o-animation-name: zoomOut;
  -ms-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
@-moz-keyframes garcando {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes garcando {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes garcando {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes garcando {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  95% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  95% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  95% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  95% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
  }
}
@-moz-keyframes zoomOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
  }
  100% {
    margin: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    width: 0;
  }
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
  }
  100% {
    margin: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    width: 0;
  }
}
@-o-keyframes zoomOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
  }
  100% {
    margin: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    width: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
  }
  100% {
    margin: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    width: 0;
  }
}
* {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
a {
  color: #df1c4b;
  text-decoration: none;
}
body {
  color: #312720;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}
ul li,
ol li {
  margin: 0.5rem auto;
}
.boton {
  border-radius: 3px;
  border-bottom: 5px solid rgba(0,0,0,0.25);
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
.boton:hover,
.boton:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.boton-1 {
  background-color: #c0392b;
}
.boton-2 {
  background-color: #16a085;
}
.cuerpo {
  position: relative;
}
.cuerpo__header {
  background-color: #7f8c8d;
  padding: 0.5rem;
}
.cuerpo__header__h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
}
.cuerpo__header__img {
  display: inline-block;
  max-width: 50px;
  vertical-align: middle;
}
.cuerpo__footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #7f8c8d;
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.8rem;
  width: 100%;
}
.main {
  position: relative;
}
.main__pantalla {
  border: 1px solid #8e44ad;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0.5rem;
}
#presentacion,
#resultadoProbabilidad,
#finJuego {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#instrucciones ol li,
#instrucciones ul li {
  text-align: left;
}
.mazoCartas {
  position: relative;
  height: auto;
  min-height: auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: middle;
  -moz-perspective-origin: middle;
  -ms-perspective-origin: middle;
  perspective-origin: middle;
}
.mazoCartas div {
  background: #fff url("../img/baraja.png") no-repeat;
  -webkit-background-size: 1200px;
  -moz-background-size: 1200px;
  background-size: 1200px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  margin: 2px;
  height: 155px;
  position: relative;
  width: 100px;
}
.mazoCartas div:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#oro-1 {
  background-position-x: 0px;
  background-position-y: 0px;
}
#oro-2 {
  background-position-x: -100px;
  background-position-y: 0px;
}
#oro-3 {
  background-position-x: -200px;
  background-position-y: 0px;
}
#oro-4 {
  background-position-x: -300px;
  background-position-y: 0px;
}
#oro-5 {
  background-position-x: -400px;
  background-position-y: 0px;
}
#oro-6 {
  background-position-x: -500px;
  background-position-y: 0px;
}
#oro-7 {
  background-position-x: -600px;
  background-position-y: 0px;
}
#oro-8 {
  background-position-x: -700px;
  background-position-y: 0px;
}
#oro-9 {
  background-position-x: -800px;
  background-position-y: 0px;
}
#oro-10 {
  background-position-x: -900px;
  background-position-y: 0px;
}
#oro-11 {
  background-position-x: -1000px;
  background-position-y: 0px;
}
#oro-12 {
  background-position-x: -1100px;
  background-position-y: 0px;
}
#espada-1 {
  background-position-x: 0px;
  background-position-y: -310px;
}
#espada-2 {
  background-position-x: -100px;
  background-position-y: -310px;
}
#espada-3 {
  background-position-x: -200px;
  background-position-y: -310px;
}
#espada-4 {
  background-position-x: -300px;
  background-position-y: -310px;
}
#espada-5 {
  background-position-x: -400px;
  background-position-y: -310px;
}
#espada-6 {
  background-position-x: -500px;
  background-position-y: -310px;
}
#espada-7 {
  background-position-x: -600px;
  background-position-y: -310px;
}
#espada-8 {
  background-position-x: -700px;
  background-position-y: -310px;
}
#espada-9 {
  background-position-x: -800px;
  background-position-y: -310px;
}
#espada-10 {
  background-position-x: -900px;
  background-position-y: -310px;
}
#espada-11 {
  background-position-x: -1000px;
  background-position-y: -310px;
}
#espada-12 {
  background-position-x: -1100px;
  background-position-y: -310px;
}
#copa-1 {
  background-position-x: 0px;
  background-position-y: -155px;
}
#copa-2 {
  background-position-x: -100px;
  background-position-y: -155px;
}
#copa-3 {
  background-position-x: -200px;
  background-position-y: -155px;
}
#copa-4 {
  background-position-x: -300px;
  background-position-y: -155px;
}
#copa-5 {
  background-position-x: -400px;
  background-position-y: -155px;
}
#copa-6 {
  background-position-x: -500px;
  background-position-y: -155px;
}
#copa-7 {
  background-position-x: -600px;
  background-position-y: -155px;
}
#copa-8 {
  background-position-x: -700px;
  background-position-y: -155px;
}
#copa-9 {
  background-position-x: -800px;
  background-position-y: -155px;
}
#copa-10 {
  background-position-x: -900px;
  background-position-y: -155px;
}
#copa-11 {
  background-position-x: -1000px;
  background-position-y: -155px;
}
#copa-12 {
  background-position-x: -1100px;
  background-position-y: -155px;
}
#basto-1 {
  background-position-x: 0px;
  background-position-y: -465px;
}
#basto-2 {
  background-position-x: -100px;
  background-position-y: -465px;
}
#basto-3 {
  background-position-x: -200px;
  background-position-y: -465px;
}
#basto-4 {
  background-position-x: -300px;
  background-position-y: -465px;
}
#basto-5 {
  background-position-x: -400px;
  background-position-y: -465px;
}
#basto-6 {
  background-position-x: -500px;
  background-position-y: -465px;
}
#basto-7 {
  background-position-x: -600px;
  background-position-y: -465px;
}
#basto-8 {
  background-position-x: -700px;
  background-position-y: -465px;
}
#basto-9 {
  background-position-x: -800px;
  background-position-y: -465px;
}
#basto-10 {
  background-position-x: -900px;
  background-position-y: -465px;
}
#basto-11 {
  background-position-x: -1000px;
  background-position-y: -465px;
}
#basto-12 {
  background-position-x: -1100px;
  background-position-y: -465px;
}
#comodin-1 {
  background-position-x: 0px;
  background-position-y: -620px;
}
#comodin-2 {
  background-position-x: -201px;
  background-position-y: -620px;
}
@media all and (max-width: 480px) {
  .mazoCartas div {
    -webkit-background-size: 600px;
    -moz-background-size: 600px;
    background-size: 600px;
    height: 77.5px;
    width: 50px;
  }
  #oro-1 {
    background-position-x: 0px;
    background-position-y: 0px;
  }
  #oro-2 {
    background-position-x: -50px;
    background-position-y: 0px;
  }
  #oro-3 {
    background-position-x: -100px;
    background-position-y: 0px;
  }
  #oro-4 {
    background-position-x: -150px;
    background-position-y: 0px;
  }
  #oro-5 {
    background-position-x: -200px;
    background-position-y: 0px;
  }
  #oro-6 {
    background-position-x: -250px;
    background-position-y: 0px;
  }
  #oro-7 {
    background-position-x: -300px;
    background-position-y: 0px;
  }
  #oro-8 {
    background-position-x: -350px;
    background-position-y: 0px;
  }
  #oro-9 {
    background-position-x: -400px;
    background-position-y: 0px;
  }
  #oro-10 {
    background-position-x: -450px;
    background-position-y: 0px;
  }
  #oro-11 {
    background-position-x: -500px;
    background-position-y: 0px;
  }
  #oro-12 {
    background-position-x: -550px;
    background-position-y: 0px;
  }
  #espada-1 {
    background-position-x: 0px;
    background-position-y: -155px;
  }
  #espada-2 {
    background-position-x: -50px;
    background-position-y: -155px;
  }
  #espada-3 {
    background-position-x: -100px;
    background-position-y: -155px;
  }
  #espada-4 {
    background-position-x: -150px;
    background-position-y: -155px;
  }
  #espada-5 {
    background-position-x: -200px;
    background-position-y: -155px;
  }
  #espada-6 {
    background-position-x: -250px;
    background-position-y: -155px;
  }
  #espada-7 {
    background-position-x: -300px;
    background-position-y: -155px;
  }
  #espada-8 {
    background-position-x: -350px;
    background-position-y: -155px;
  }
  #espada-9 {
    background-position-x: -400px;
    background-position-y: -155px;
  }
  #espada-10 {
    background-position-x: -450px;
    background-position-y: -155px;
  }
  #espada-11 {
    background-position-x: -500px;
    background-position-y: -155px;
  }
  #espada-12 {
    background-position-x: -550px;
    background-position-y: -155px;
  }
  #copa-1 {
    background-position-x: 0px;
    background-position-y: -77.5px;
  }
  #copa-2 {
    background-position-x: -50px;
    background-position-y: -77.5px;
  }
  #copa-3 {
    background-position-x: -100px;
    background-position-y: -77.5px;
  }
  #copa-4 {
    background-position-x: -150px;
    background-position-y: -77.5px;
  }
  #copa-5 {
    background-position-x: -200px;
    background-position-y: -77.5px;
  }
  #copa-6 {
    background-position-x: -250px;
    background-position-y: -77.5px;
  }
  #copa-7 {
    background-position-x: -300px;
    background-position-y: -77.5px;
  }
  #copa-8 {
    background-position-x: -350px;
    background-position-y: -77.5px;
  }
  #copa-9 {
    background-position-x: -400px;
    background-position-y: -77.5px;
  }
  #copa-10 {
    background-position-x: -450px;
    background-position-y: -77.5px;
  }
  #copa-11 {
    background-position-x: -500px;
    background-position-y: -77.5px;
  }
  #copa-12 {
    background-position-x: -550px;
    background-position-y: -77.5px;
  }
  #basto-1 {
    background-position-x: 0px;
    background-position-y: -232.5px;
  }
  #basto-2 {
    background-position-x: -50px;
    background-position-y: -232.5px;
  }
  #basto-3 {
    background-position-x: -100px;
    background-position-y: -232.5px;
  }
  #basto-4 {
    background-position-x: -150px;
    background-position-y: -232.5px;
  }
  #basto-5 {
    background-position-x: -200px;
    background-position-y: -232.5px;
  }
  #basto-6 {
    background-position-x: -250px;
    background-position-y: -232.5px;
  }
  #basto-7 {
    background-position-x: -300px;
    background-position-y: -232.5px;
  }
  #basto-8 {
    background-position-x: -350px;
    background-position-y: -232.5px;
  }
  #basto-9 {
    background-position-x: -400px;
    background-position-y: -232.5px;
  }
  #basto-10 {
    background-position-x: -450px;
    background-position-y: -232.5px;
  }
  #basto-11 {
    background-position-x: -500px;
    background-position-y: -232.5px;
  }
  #basto-12 {
    background-position-x: -550px;
    background-position-y: -232.5px;
  }
  #comodin-1 {
    background-position-x: 0px;
    background-position-y: -310px;
  }
  #comodin-2 {
    background-position-x: -101px;
    background-position-y: -310px;
  }
}
/*# sourceMappingURL=style.css.map */