// Los encabezados
.cuerpo__header
    background-color gris_absesos
    padding 0.5rem
    // position fixed
    // top 0

    &__h1
        box-sizing border-box  
        font-size 1.2rem
        margin 0
        padding 0
        text-transform: uppercase
    
    &__img
        display inline-block
        max-width 50px
        vertical-align: middle