// Estructura general de la app.
*
    transition all 0.1s ease-in-out

a
    color rosa_suave
    text-decoration none

body
    color gris_fuerte
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 18px
    text-align center


ul, ol
    li
        margin 0.5rem auto

.boton
    border-radius 3px
    border-bottom 5px solid negro_re_transparente
    color blanco_puro
    display inline-block
    padding 0.5em 1em
    text-transform uppercase
    &:hover
    &:active
        transform scale(1.1)

.boton-1
    background-color rojo_google

.boton-2
    background-color verde_mar

.cuerpo
    position relative
