// Estructura general de la app.
a
    color $enlaces
    text-decoration none

body
    color $textos
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 18px
    text-align: center

.cuerpo
    position relative