.mazoCartas
    position relative
    height: auto
    min-height auto
    transform-style preserve-3d
    perspective: 600px
    perspective-origin middle

    div
        background #fff url("../img/baraja.png") no-repeat
        background-size (ancho_mazo / 2) px
        backface-visibility hidden
        display inline-block
        margin 2px
        height alto_reducido px
        position relative
        transform all 1s ease-in-out
        width ancho_reducido px
        
        &:hover
            box-shadow 0px 0px 12px negro
            cursor pointer
            transform scale(1.1)

$oro = 12
$espada = 12
$copa = 12
$basto = 12
$comodin = 2

// bucles que va creando en forma recursiva cada una de las cartas


for $o in 1..$oro
    #oro-{$o}
        background-position-x (-(ancho_reducido * $o ) + (ancho_reducido)) px
        background-position-y 0px



for $e in 1..$espada
    #espada-{$e}
        background-position-x (-(ancho_reducido * $e ) + (ancho_reducido)) px
        background-position-y -(alto_reducido * 2) px


for $c in 1..$copa
    #copa-{$c}
        background-position-x (-(ancho_reducido) * $c + (ancho_reducido)) px
        background-position-y -(alto_reducido * 1) px


for $b in 1..$basto
    #basto-{$b}
        background-position-x (-(ancho_reducido) * $b + (ancho_reducido)) px
        background-position-y -(alto_reducido * 3) px


// Los comodines
#comodin-1
    background-position-x 0px
    background-position-y -(alto_reducido) * 4 px

#comodin-2
    background-position-x (-(ancho_reducido) * 2 - 1) px
    background-position-y (-(alto_reducido) * 4) px



/* Para una visualiación en teléfonos */
@media all and (max-width 480px)
    .mazoCartas
        div
            background-size (ancho_mazo / 4) px
            height (alto_reducido / 2) px
            width (ancho_reducido / 2) px

    for $o in 1..$oro
        #oro-{$o}
            background-position-x (-(ancho_reducido / 2 * $o ) + (ancho_reducido / 2)) px
            background-position-y 0px



    for $e in 1..$espada
        #espada-{$e}
            background-position-x (-(ancho_reducido / 2 * $e ) + (ancho_reducido / 2)) px
            background-position-y -(alto_reducido) px


    for $c in 1..$copa
        #copa-{$c}
            background-position-x (-(ancho_reducido / 2) * $c + (ancho_reducido / 2)) px
            background-position-y -(alto_reducido / 2) px


    for $b in 1..$basto
        #basto-{$b}
            background-position-x (-(ancho_reducido / 2) * $b + (ancho_reducido / 2)) px
            background-position-y -(alto_reducido / 2 * 3) px


    // Los comodines
    #comodin-1
        background-position-x 0px
        background-position-y -(alto_reducido / 2) * 4 px

    #comodin-2
        background-position-x (-(ancho_reducido / 2 ) * 2 - 1) px
        background-position-y (-(alto_reducido / 2) * 4) px