// Pie de página
.cuerpo__footer
    box-sizing border-box
    background-color gris_absesos
    // bottom 0
    font-size 0.8rem
    font-style italic
    padding 0.8rem
    // position fixed
    width 100%