// Unificador de los estilos
@import 'node_modules/nib/lib/nib/index'
@import "variables"
@import "funciones"
@import "animaciones"
@import "estructuras"
@import "encabezados"
@import "pies"
@import "pantallas"
@import "mazodecartas"