// Unificador de los estilos
@import "node_modules/nib/index"
@import "normalize"
@import "funciones"
@import "animaciones"
@import "estructuras"
@import "encabezados"
@import "pies"
@import "pantallas"
@import "mazodecartas"